<!-- your html code here -->
<section class="container border-top border-light-subtle py-5">
    <h1>Contact</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipiscing elit condimentum id mollis tellus suscipit lacus himenaeos, metus mauris class mattis facilisi ad diam velit curabitur posuere quam nulla convallis.</p>
    <div class="row my-5">
        <div class="col-md-9 offset-md-2 bg-light border ps-4">
            <div class="col-5"></div>
            <div class="m-3 d-flex flex-row">
                <label for="userEmail" class="form-label col-2">Your Email</label>
                <input type="email" class="form-control" id="userEmail" placeholder="Your email" required>
            </div>
            <div class="m-3 d-flex flex-row">
                <label for="userMessage" class="form-label col-2">Your Message</label>
                <textarea class="form-control" id="userMessage" rows="5" placeholder="Please enter your message here..." required></textarea>
            </div>
            <div class="pb-4 d-flex justify-content-end">
                <button type="button" class="btn btn-primary mx-3">Submit</button>
            </div>
        </div> 
    </div>
</section>