<!-- your html code here -->
<section class="bg-light d-flex align-items-center w-100"  style="height: 60vh">
    <div class="d-flex container border-top border-bottom border-light-subtle p-5" style="height:75%">
        <div class="w-75">
            <h1 class="fs-1">This First Heading <span class="text-secondary">Will Catch Your Eye</h1></span>
            <p class="fs-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem fugiat consectetur deleniti. Repudiandae fugiat minus reiciendis sed nisi officia ut, quis, voluptatem distinctio unde dolorem accusamus aliquid dignissimos harum quas.</p>
        </div>
        <img src="/website/assets/img/1.jpg" class="rounded-circle w-25">
    </div>
</section>


