<!-- your html code here -->

<section class="bg-light container border-top border-light-subtle" style="padding:10vh 0">
  <div class="d-flex">
    <img src="https://img.freepik.com/free-photo/close-up-woman-s-hand-typing-laptop_23-2148029475.jpg" class="rounded-circle w-25 align-self-start" alt="computer">
    <div class="w-75 ps-4">
      <h1 class="fs-1">The Second Heading <span class="text-secondary">Is Pretty Cool Too.</h1></span>
      <p class="fs-4 lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem fugiat consectetur deleniti. Repudiandae fugiat minus reiciendis sed nisi officia ut, quis, voluptatem distinctio unde dolorem accusamus aliquid dignissimos harum quas.</p>
    </div>
  </div>
</section> 

<!-- <section class="bg-light d-flex align-items-center w-100 border border-light-subtle" style="height: 60vh">
  <div class="d-flex container border-top border-bottom border-light-subtle p-5" style="height: 75%">
    <img src="https://img.freepik.com/free-photo/close-up-woman-s-hand-typing-laptop_23-2148029475.jpg" class="rounded-circle" alt="computer">
    <div class="w-75 ps-3">
      <h1 class="fs-1">The Second Heading <span class="text-secondary">Is Pretty Cool Too.</h1></span>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem fugiat consectetur deleniti. Repudiandae fugiat minus reiciendis sed nisi officia ut, quis, voluptatem distinctio unde dolorem accusamus aliquid dignissimos harum quas.</p>
    </div>
  </div>
</section> -->

